{{#if isLoading}}
	{{loading-spinner progress=progress progressStatus=progressStatus}}
{{/if}}

<div class="fullvw-wrapper">
	{{add-feed-tabs header-text="ADD A TRANSIT FEED" upload-tab-class="tab current" add-operator-tab-class="tab" license-tab-class="tab" submit-tab-class="tab" submitted=false}}
</div>
<div class="container">
	<div class="add-operator-info">
		<p>
		Transitland brings together many sources of transit data to build a <a href="https://transit.land/feed-registry" target="_blank">directory of operators and feeds</a> that can be edited by transit enthusiasts and developers. Your contributions can help expand Transitland's coverage throughout the world.
		</p>
		<p>
		If you know of a feed, please continue below!
		</p>
		<p>
			{{documentation-link "add-feed.md#find-the-link-to-the-feed" "Learn more about GTFS feeds"}}
		</p>
	</div>
	<form {{action "next" on="submit"}}>
		<div class="input-form-wrapper">
			{{#if model.errors}}
					{{#each model.errors as |error|}}
						<div class="error-tip">
							<i class="fa fa-exclamation-circle"></i> {{error.message}}
						</div>
					{{/each}}
			{{/if}}

			<div class="row {{if model.errors.url "error"}}">
				<div class="col-sm-12">
					<div class="input-form-label">Paste the GTFS feed URL</div>
					<div class="input-form-field">{{input type="text" value=model.url placeholder="http://... .zip" autofocus=true}}</div>
				</div>
			</div>
		</div>
		<div>{{progressStatus}}: {{progress}}</div>

		<div class="caption">
			After this feed is added to Transitland, our servers will periodically check this URL for updates.
		</div>

		{{#if model.url}}
			<div class="row direction-btn-wrapper">
				<div class="col-sm-12">
					<div class="pull-right">
					 <a class="btn btn-action" role="button"  type="submit" {{action "next"}}> Next <i class="fa fa-chevron-right"></i></a>
					</div>
				</div>
			</div>
		{{else}}
			<div class="row direction-btn-wrapper">
				<div class="col-sm-12">
					<div class="pull-right">
					 <a class="btn btn-action" disabled role="button"  type="submit" {{action "next"}}> Next <i class="fa fa-chevron-right"></i></a>
					</div>
				</div>
			</div>
		{{/if}}
	</form>
</div>
