{{#if isLoading}}
  {{loading-spinner}}
{{/if}}

<div class="fullvw-wrapper">
	{{add-feed-tabs header-text="ADD A TRANSIT FEED" upload-tab-class="tab-current" add-operator-tab-class="tab" license-tab-class="tab" submit-tab-class="tab" submitted=false}}
</div>
<div class="add-operator-info">
	<p>
		Ready to add a feed to Transitland? The first step is to specify the website address for a <abbr title="General Transit Feed Specification">GTFS</abbr> feed. The URL must end with .zip and be hosted by a transit operator or other authoritative source.
	</p>
</div>
<form {{action "next" on="submit"}}>
  <div {{bind-attr class=":container :email-input-form model.errors.url:has-error"}}>
		<div class="row">
			<div class="col-sm-12">
				<div class="input-form-label">Paste the feed URL</div>
				<div class="input-form-field">{{input type="text" value=model.url placeholder="http://... .zip"}}</div>
			</div>
		</div>
    {{#if model.errors}}
      <div class="row">
        {{#each model.errors as |error|}}
          <div class="col-sm-12 error">{{error.message}}</div>
        {{/each}}
      </div>
    {{/if}}
	</div>
	<br>
	<div class="container email-caption">
		After this feed is part of the Feed Registry, the Transitland servers will periodically check this URL for updates.
	</div>
	<br>
	<div class="container email-input-form">
		<div class="row" align="left">
			{{#link-to 'index' class="btn btn-default"}}
					&#60; Cancel
			{{/link-to}}
			<a class="btn btn-default" role="button"  type="submit" {{action "next"}}>Next ></a>
		</div>
	</div>
</form>
