{{#if isLoading}}
	{{loading-spinner}}
{{/if}}

<div class="fullvw-wrapper">
	{{add-feed-tabs header-text="ADD A TRANSIT FEED" upload-tab-class="tab-current" add-operator-tab-class="tab" license-tab-class="tab" submit-tab-class="tab" submitted=false}}
</div>
<div class="container">
	<div class="add-operator-info">
		<p>
			Transitland aggregates data feeds from many different sources, including transit agency websites. For each <a href="https://github.com/transitland/transitland-docs/blob/master/glossary.md#general-transit-feed-specification-gtfs" target="_blank">GTFS feed</a> listed in the <a href="https://transit.land/feed-registry" target="_blank">Feed Registry</a>, the Transitland's servers go out on the Internet, fetch a copy, and import it into the Datastore. From there, it's available to visualize using the <a href="https://transit.land/playground" target="_blank">Playground</a> and to querying using the <a href="https://transit.land/how-it-works/#slide-3" target="_blank">Datastore API</a>.
		</p>
		<p>
			For more background about the process of adding a feed, please read <a href="https://github.com/transitland/transitland-docs/blob/master/add-feed.md" target="_blank">the "add a feed" documentation</a>. If you already have in hand a URL for a GTFS feed that's not currently included in Transitland, please continue below!
		</p>
	</div>
	<form {{action "next" on="submit"}}>
		<article class="input-form-wrapper">
			<div {{bind-attr class="model.errors.url:has-error"}}>
				<div class="row">
					<div class="col-sm-12">
						<div class="input-form-label">Paste the GTFS feed URL</div>
						<div class="input-form-field">{{input type="text" value=model.url placeholder="http://... .zip"}}</div>
					</div>
				</div>
				{{#if model.errors}}
					<div class="row">
						{{#each model.errors as |error|}}
							<div class="col-sm-12 error">{{error.message}}</div>
						{{/each}}
					</div>
				{{/if}}
			</div>
		</article>

		<div class="caption">
			After this feed is added to Transitland, our servers will periodically check this URL for updates
		</div>


		<div class="row direction-btn-wrapper">
			<div class="col-sm-12">
				<div class="pull-right">
				 <a class="btn btn-action" role="button"  type="submit" {{action "next"}}> Next <i class="fa fa-chevron-right"></i></a>
				</div>
			</div>
		</div>
	</form>
</div>
