{{#if isLoading}}
	{{loading-spinner}}
{{/if}}

<div class="fullvw-wrapper">
	{{add-feed-tabs header-text="ADD A TRANSIT FEED" upload-tab-class="tab-current" add-operator-tab-class="tab" license-tab-class="tab" submit-tab-class="tab" submitted=false}}
</div>
<div class="container">
	<div class="add-operator-info">
		<p>
			Ready to add a feed to Transitland? The first step is to find the web address (URL) to a <abbr title="General Transit Feed Specification">GTFS</abbr> feed. Your link should point directly to a .zip file that is hosted by a transit operator or other authoritative source.
		</p>
	</div>
	<form {{action "next" on="submit"}}>
		<article class="input-form-wrapper">
			<div {{bind-attr class="model.errors.url:has-error"}}>
				<div class="row">
					<div class="col-sm-12">
						<div class="input-form-label">Paste the GTFS feed URL</div>
						<div class="input-form-field">{{input type="text" value=model.url placeholder="http://... .zip"}}</div>
					</div>
				</div>
				{{#if model.errors}}
					<div class="row">
						{{#each model.errors as |error|}}
							<div class="col-sm-12 error">{{error.message}}</div>
						{{/each}}
					</div>
				{{/if}}
			</div>
		</article>

		<div class="caption">
			After this feed is added to Transitland, our servers will periodically check this URL for updates
		</div>


		<div class="row direction-btn-wrapper">
			<div class="col-sm-12">
				<div class="pull-left">
					{{#link-to 'index' class="btn btn-action"}}
							<i class="fa fa-chevron-left"></i> Cancel
					{{/link-to}}
				</div>
				<div class="pull-right">
				 <a class="btn btn-action" role="button"  type="submit" {{action "next"}}> Next <i class="fa fa-chevron-right"></i></a>
				</div>
			</div>
		</div>
	</form>
</div>
