<section id="feed-registry" class="jumbotron">
	<div class="container">
		{{#if import_level}}
			<div>{{intro-copy import_level=import_level}}</div>
			<div>{{search-bar findPlaces=(action "findPlaces") filterByPlace=(action "filterByPlace") model=placesModel}}</div>
		{{else}}
			<div>{{intro-copy operators=model}}</div>
			<div>{{search-bar findPlaces=(action "findPlaces") filterByPlace=(action "filterByPlace") model=placesModel}}</div>
		{{/if}}
		<br>

		<main>
			{{operator-table operators=model sortOrder=sort_order sortKey=sort_key country=country changeSort=(action "transitionToNewSort")}}
			<div class="row direction-btn-wrapper">
				{{pagination-controls route="index" hasPreviousPage=hasPreviousPage hasNextPage=hasNextPage previousOffset=previousOffset nextOffset=nextOffset}}
			</div>
		</main>

		{{#if editingMode}}
			<div class="row">
				<div class="col-xs-12">
					<div class="cta-container">
						<div class="cta-text">
							<h3>Know a feed that's missing?</h3>
						</div>
						<div class="cta-btn">
							{{#link-to "feeds.new" class="btn btn-action" role="button" }}
								Add a Feed
							{{/link-to}}
						</div>
					</div>
				</div>
			</div>
			<p>
				We would love your help to expand Transitland's coverage throughout the world. If you know of a feed, {{#link-to "feeds.new"}}add it here{{/link-to}}. To report an error in an existing entry, you can send a note to <a href="mailto:transitland@mapzen.com">transitland@mapzen.com</a>.
			</p>
		{{else}}
			<p>
				We need your help to expand our coverage to other parts of the world. If you would like to add a feed (or if you notice an error in an existing entry) please email us at <a href="mailto:transitland@mapzen.com">transitland@mapzen.com</a>.
			</p>
		{{/if}}

		<p>
			Looking for machine-readable JSON instead? The <a href="/how-it-works/#slide-3">Datastore API</a> can provide all these {{json-endpoint "operators" "" "operators"}} or all these {{json-endpoint "feeds" "" "feeds"}}.
		</p>

		<p class="legal-action">
			This list is provided for informational purposes only and does not constitute legal advice. We do not guarantee the accuracy or reliability of the Feed Registry whatsoever. You are advised to consult with your own legal counsel before using and relying
			on the information provided in the Feed Registry.
		</p>

	</div>
</section>
