<div class="fullvw-wrapper">
	{{add-feed-tabs header-text="ADD A TRANSIT FEED" upload-tab-class="tab" add-operator-tab-class="tab current" license-tab-class="tab" submit-tab-class="tab" submitted=false}}
</div>

<div class="container">
	<div class="add-operator-info">
		<p>
			Transitland checked your feed and found {{model.operators.length}} {{#if singleOperator}}operator{{else}}operators{{/if}}. Review the information below and provide additional details about each operator and location it serves. All fields are required unless otherwise indicated.
		</p>
	</div>
	<div>
		{{#each operator in model.operators}}
			{{operator-form operator=operator singleOperator=singleOperator}}
			<br>
		{{/each}}
	</div>

	<!-- if one or more operator is selected to include in feed -->

	<div class="direction-btn-wrapper row">
		<div class="col-sm-12">
			{{#if minimumOperator}}
				{{#link-to 'feeds.new.license' class="btn btn-action pull-right"}}
						Next <i class="fa fa-chevron-right"></i>
				{{/link-to}}
			{{else}}
				<div class="has-error">
					<div class="row">
						<div class="col-sm-12 warning text-center">
							Please include at least one operator
						</div>
					</div>
				</div>
			{{/if}}
		</div>
	</div>
<!-- display button asking to include at least one operator -->
</div>