<nav class="navbar col-lg-12 col-md-12 col-sm-12">
  <a href="{{site.url}}"><div class="logo-image"></div></a>
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu-bar" aria-expanded="false" aria-controls="navbar">
      MENU 
    </button>
  </div>

  <div id="nav-menu-helper"></div>
  <div id="nav-menu-bar" class="navbar-collapse collapse">
    <div class="nav-menu">
      <div class="float-left">
        <a href="{{site.url}}" target="_self">
        <div class="circle"></div><div class="main">home</div>
        </a>
      </div>
      <div class="float-left">
        <a href="{{site.url}}how-it-works" target="_self">
        <div class="circle"></div><div class="main">how it works</div>
        </a>
      </div>
      <div class="float-left">
        <a href="./" target="_self">
        <div class="circle"></div><div class="main">playground</div>
        </a>
      </div>
      <div class="float-left">
        <a href="{{site.url}}an-open-project" target="_self">
        <div class="circle"></div><div class="main">an open project</div>
        </a>
      </div>
      <div class="float-left">
        <a href="{{site.url}}participate" target="_self">
        <div class="circle"></div><div class="main">participate</div>
        </a>
      </div>
      <div class="float-left">
        <a class='active' href="{{site.url}}participate" target="_self">
        <div class="circle"></div><div class="main">feed registry</div>
        </a>
      </div>
    </div>
  </div>
</nav>

<section id="report-card" class="jumbotron">
  <div class="container">
  	
  {{outlet}}
  </div>
</section>