<h4 class = "detail">Feed Detail</h4>
<table class = "operator-table">
	<tr><td>Onestop ID <a href = "https://github.com/transitland/onestop-id-scheme/" target = "_blank"><i class="question-circle onestop-id-tooltip"></i></a></td><td>{{feed.onestop_id}}</td></tr>
	<tr><td>Data location</td><td><a href = "{{feed.url}}"  target = "_blank">{{feed.url}}</a></td></tr>
	<tr><td>Format</td><td>{{feed.feed_format}}</td></tr>
	<tr>
		<td>License</td>
		<td>
			{{#if feed.license_url}}
				<a href = "{{feed.license_url}}" target = "_blank">
					{{#if feed.license_name}}
						{{feed.license_name}}
					{{else}}
						{{fa-icon icon="fa-external-link"}}
					{{/if}}
				</a>
			{{else}}
				{{fa-icon icon="fa-question"}}
			{{/if}}
		</td>
	</tr>
	<tr><td>Attribution optional</td><td>{{feed.license_use_without_attribution}}</td></tr>
	
	{{#if feed.license_attribution_text}}
		<tr><td>Attribution text<i class="question-circle attribution-text-tooltip"></i></td><td>{{feed.license_attribution_text}}</td></tr>
	{{/if}}
	
	<tr><td>Derivation allowed</td><td>{{feed.license_create_derived_product}}</td></tr>
	<tr><td>Redistribution allowed</td><td>{{feed.license_redistribute}}</td></tr>
	<tr><td>Agency checked on</td><td>{{format-date feed.last_fetched_at}}</td></tr>
	<tr><td>Feed updated on</td><td>{{format-date feed.updated_at}}</td></tr>
	<tr><td>API Data Available</td>
		<td>
			{{#if feedImportLevelZero}}Operator polygons{{/if}}{{#if feedImportLevelOne}}, points/lines{{/if}}{{#if feedImportLevelTwo}}, time schedule{{/if}}{{#if feedImportLevelFour}}, routing{{/if}}
			{{#if feedImportLevelNull}}None at this time.{{/if}}
		</td>
	</tr>
	<tr><td>JSON</td><td>{{json-endpoint feed.onestop_id}}</td></tr>
	
	<!-- If a feed has been imported at import_level >= 1 then also link to GeoJSON for routes and stops. -->
	<!-- list out the full GeoJSON URL as a link and then also have a "(view with geojson.io)" link at the end? -->
	<!-- note that you have to encode the GeoJSON API URL before you put it in to the full geojson.io URL -->
	{{#if feed.import_level_of_active_feed_version}}
		<tr><td>GeoJSON</td><td>{{geojson-endpoint feed.onestop_id}}</td></tr>
	{{/if}}

	<!-- If a feed has been imported at import_level >= 2 then also link to a ScheduleStopPair query. -->
	

	{{#if scheduleStopPair}}
		<tr><td>SSP</td><td> link to schedule stop pair query </td></tr>
	{{/if}}

</table>
