<div class = "table-container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class = "{{nameSortClass}}" {{action "sortBy" "name"}}>Agency Name </th>
        <th class = "{{regionSortClass}}" {{action "sortBy" "municipality"}}>Region </th>
        <!-- <th class = "not-sorted" {{action "sortBy" "feed.license_name"}}>License</th> -->
        <th>License</th>
        <th>License Details <a href = "https://transit.land/an-open-project/"><i class="fa fa-question-circle"></i></a></th>
        <!-- <th>Links</th> -->
      </tr>
    </thead>
    <tbody>
      {{#each operator in sortedOperators}}
    	  {{feed-table/feed-row operator=operator}}
    	{{/each}} 
    </tbody>
  </table>
</div>