<table class="table table-striped">
    <thead>
      <tr>
        <th>Agency Name</th>
        <th>Region</th>
        <th>License</th>
        <th>License Details</th>
        <th>Links</th>
      </tr>
    </thead>
    <tbody>
	    {{#each operator in model}}
		<tr>
			<td>{{operator.name}}</td>
			<td>{{operator.municipality}}</td>
			<td>{{operator.feed.license_name}}</td>
      <td>
        <!-- the icon used depends on license details -->
        <table>
          <td><img {{bind-attr src="public/assets/clipboard-dark.svg"}} alt="Requires Attribution"></td>
          <td><img {{bind-attr src="public/assets/fence-dark.svg"}} alt="Sharing"></td>
          <td><img {{bind-attr src="public/assets/route-dark.svg"}} alt="Connect"></td>
        </table>
      </td>
      <td>
        <!-- either single upload icon or two or three icons used here -->
        <table>
        {{#unless operator.feed}}
          <td><img {{bind-attr src="public/assets/upload.svg"}} alt="Upload"></td>
        {{else}}
          <td><img {{bind-attr src="public/assets/api.svg"}} alt="API"></td>
          <td><img {{bind-attr src="public/assets/control-panel.svg"}} alt="Data Explorer"><a {{bind-attr href='operator.feed.url'}}></a></td>
          <td><img {{bind-attr src="public/assets/api.svg"}} alt="Download Feed"></td>
        {{/unless}}
        </table>
      </td>
		</tr>
		{{/each}} 
    </tbody>
  </table>
