<div class="container input-form">
	<div class="row">
		<div class="col-sm-7 col-xs-12 input-section">
			<div class="input-form-label">Operator full name</div>
			<div class="input-form-field">{{input type="text" class="form-control" value=operator.name placeholder="e.g. Bay Area Rapid Transit"}}</div>
		</div>
		<div class="col-sm-5 col-xs-12 input-section">
			<div class="input-form-label">Operator short name (optional)</div>
			<div class="input-form-field">{{input type="text" class="form-control" value=operator.short_name placeholder="e.g. BART"}}</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 col-xs-12 input-section">
			<div class="input-form-label">Country</div>
			<div class="input-form-field">
				<button class="btn dropdown-toggle" type="button" data-toggle="dropdown"> {{input type="text" class="form-control" value=operator.country placeholder="Select a country"}}
					<span class="caret"></span>
	  			</button>
	  		</div>
		</div>
		<div class="col-sm-4 col-xs-12 input-section">
			<div class="input-form-label">State</div>
			<div class="input-form-field">
				<button class="btn dropdown-toggle" type="button" data-toggle="dropdown"> {{input type="text" class="form-control" value=operator.state placeholder="Select a state"}}
					<span class="caret"></span>
	  			</button>
	  		</div>
		</div>
		<div class="col-sm-4 col-xs-12 input-section">
			<div class="input-form-label">Municipality/Region</div>
			<div class="input-form-field">
				<button class="btn dropdown-toggle" type="button" data-toggle="dropdown">{{input type="text" class="form-control" value=operator.metro placeholder="e.g. Oakland"}}
					<span class="caret"></span>
	  			</button>
	  		</div>
  		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-7 col-xs-12 input-section">
			<div class="input-form-label">Website</div>
			<div class="input-form-field">{{input type="text" class="form-control" value=operator.website placeholder="http://somethinguseful.com"}}</div>
		</div>
		<div class="col-sm-5 col-xs-12 input-section">
			<div class="input-form-label">Select time zone</div>
			<div class="input-form-field">
				<button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
					<!-- {{#power-select options=countries searchField="name" noMatchesMessage="No matches" placeholder="Please, select one destination" allowClear=true selected=selected onchange=(action (mut selected)) as |country|}}
      					{{country.name}}
  					{{/power-select}} -->

  					{{#power-select options=names searchEnabled=true searchPlaceholder="Type to filter..." selected=selected onchange=(action (mut selected)) as |name|}}
      					{{name}}
    				{{/power-select}}
	  			</button>

	  		</div>
		</div>
	</div>
</div>
<div class="form-caption">
	For operators that spread across multiple cities, metros, or states, specify the operator headquarters
</div>


