<div class="operator-info">
	<div class="input-form-wrapper">
	{{#unless singleOperator}}
		<div class="{{if operator.include_in_changeset "yes"}} {{unless operator.include_in_changeset "no"}} row">
			<div class="col-sm-4 no-border">
				<div class="input-form-label">Include this operator?</div>
			</div>
			<div class="col-sm-8">
				<div class="yes-no-group">
					<button class="btn btn-default yes {{if operator.include_in_changeset "active"}}" type="button" {{action "clickYes"}}>Yes</button>
					<button class="btn btn-default no {{unless operator.include_in_changeset "active"}}" type="button" {{action "clickNo"}}>No</button>
				</div>
			</div>
		</div>
	{{/unless}}
		<div class="row">
			<div class="col-sm-12 col-xs-12 input-section">
				<div class="input-form-label">Operator full name</div>
				<div class="input-form-field">{{input type="text" value=operator.name placeholder="e.g. Bay Area Rapid Transit"}}</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-xs-12 input-section">
				<div class="input-form-label">Operator short name (optional)</div>
				<div class="input-form-field">{{input type="text" value=operator.short_name placeholder="e.g. BART"}}</div>
			</div>
			<div class="col-sm-6 col-xs-12 input-section">
				<div class="input-form-label">Website</div>
				<div class="input-form-field">{{input type="text" value=operator.website placeholder="http://somethinguseful.com"}}</div>
			</div>
		</div>
		<div class="row">
			{{operator-form/country-region-select operator=operator countryName=operator.country regionName=operator.state}}
		</div>
	</div>

	<div class="caption">
		For operators that spread across multiple cities or states, specify the operator headquarters.
	</div>
</div>