<div class="fullvw-wrapper">
	{{add-feed-tabs header-text="ADD A TRANSIT FEED" submitted=false upload-tab-class="tab" add-operator-tab-class="tab" license-tab-class="tab current" submit-tab-class="tab" submitted=false}}
</div>

<div class="container">
	<div class="add-operator-info">
		<p>
			Many feeds have licenses or legal terms that apply to them. Provide as much information as you can about the license for the feed. It is okay if you are unable to answer all the license questions.
		</p>
	</div>
		<div class="input-form-wrapper">
			<div class="row {{if license_present_mode "yes"}}{{unless license_present_mode "no"}}">
				<div class="col-sm-4 no-border">
					<div class="input-form-label"> Does the feed have a license?</div>
				</div>
				<div class="col-sm-8">
						<div class="btn-group">
							{{license-form-toggle-button attr=license_present_mode text="yes" value=true}}
							{{license-form-toggle-button attr=license_present_mode text="no" value=false}}
						</div>
				</div>
			</div>
			{{#if license_present_mode}}
				<div class="row">
					<div class="col-sm-7 col-xs-12 input-section">
						<div class="input-form-label">License name</div>
						<div class="input-form-field">{{input type="text" value=this.model.license_name placeholder="e.g. Creative Commons 2.0"}}</div>
					</div>
					<div class="col-sm-5 col-xs-12 input-section">
						<div class="input-form-label">License URL</div>
						<div class="input-form-field">{{input type="text" value=this.model.license_url placeholder="http://..."}}</div>
					</div>
				</div>
				<div class="row {{if interpret_license_mode "yes"}}{{unless interpret_license_mode "no"}}">
					<div class="col-sm-6 no-border">
						<div class="input-form-label">Do you feel comfortable interpreting the license?</div>
					</div>
					<div class="col-sm-6">
						<div class="btn-group" data-toggle="buttons">
							{{license-form-toggle-button attr=interpret_license_mode text="yes" value=true}} {{license-form-toggle-button attr=interpret_license_mode text="no" value=false}}
						</div>
					</div>
				</div>
			{{/if}}
			{{#if interpret_license_mode}}
				<div class="row">
					<div class="col-sm-12 col-xs-12 input-form-guide">Pick the license restrictions. Select 'Unknown'if you are not sure.
					</div>
				</div>

				<div class="row">
					<div class="col-sm-4 col-xs-12 no-border">
						<div class="input-form-label">Attribution for feed data</div>
					</div>
					<div class="col-sm-8">
						<div class="btn-group" data-toggle="buttons">
							{{license-form-toggle-button attr=model.license_use_without_attribution text="Optional" value="yes"}} {{license-form-toggle-button attr=model.license_use_without_attribution text="Required" value="no"}} {{license-form-toggle-button attr=model.license_use_without_attribution
								text="Unknown" value="unknown"}}
						</div>
					</div>
				</div>
				{{#if showLicenseAttributionText}}
					<div class="row">
						<div class="col-sm-12 col-xs-12 no-border">
							<div class="input-form-label">Attribution text:</div>
							<div class="input-form-field">{{textarea value=model.license_attribution_text placeholder="e.g., Using data copyright (C) Bay Area Rapid Transit"}}</div>
						</div>
					</div>
				{{/if}}
				<div class="row">
					<div class="col-sm-4 col-xs-12 no-border">
						<div class="input-form-label">Creation of derived data products</div>
					</div>
					<div class="col-sm-8">
						<div class="btn-group" data-toggle="buttons">
								{{license-form-toggle-button attr=model.license_create_derived_product text="Permitted" value="yes"}} {{license-form-toggle-button attr=model.license_create_derived_product text="Not Permitted" value="no"}} {{license-form-toggle-button attr=model.license_create_derived_product
								text="Unknown" value="unknown"}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 col-xs-12 no-border">
						<div class="input-form-label">Redistribution of feed as-is</div>
					</div>
					<div class="col-sm-8 col-xs-12 input-section">
						<div class="btn-group" data-toggle="buttons">
							{{license-form-toggle-button attr=model.license_redistribute text="Optional" value="yes"}} {{license-form-toggle-button attr=model.license_redistribute text="Required" value="no"}} {{license-form-toggle-button attr=model.license_redistribute text="Unknown"
								value="unknown"}}
						</div>
					</div>
				</div>
			{{/if}}
			</div>
		<div class="row direction-btn-wrapper">
			<div class="col-sm-12">
				{{#link-to 'feeds.new.add-operator' class="btn btn-action pull-left" }}
					<i class="fa fa-chevron-left"></i> back
				{{/link-to}}
				{{#link-to 'feeds.new.submit' class="btn btn-action pull-right" }}
					Next <i class="fa fa-chevron-right"></i>
				{{/link-to}}
			</div>
		</div>
</div>
