<td>{{operator.name}}</td>
<td>{{operator.municipality}}</td>
<td>{{operator.feed.license_name}}</td>
<td>
<!-- the icon used depends on license details -->
	<table>
	<!-- <td><img {{bind-attr src="images/clipboard-dark.svg"}} alt="Requires Attribution"></td>  -->         
		<td><img src="images/2_taxi.png"></td>
		<!-- <img class="avatar" src="/images/avatar.jpg" /> -->
		<td><img src="images/2_taxi.png"></td>
		<td><img src="images/3_train.png"></td>
	</table>
</td>
<td>
<!-- either single upload icon or two or three icons used here -->
	<table>
	{{#unless operator.feed}}
		<td><img src="images/4_boat.png"></td>
		{{else}}
		<td><img src="images/5_bus.png"></td>
		<td><img src="images/6_park.png"><a {{bind-attr href='operator.feed.url'}}></a></td>
		<td><img src="images/7_gas_station.png"></td>
	{{/unless}}
	</table>
</td>