<td>
	{{#link-to "operator" operator}}
		{{operator.name}}
	{{/link-to}}
</td>
<td>{{operator.municipality}}</td>
<td>{{operator.feed.license_name}}</td>
<td>
<!-- the icon used depends on license details -->

	<div class = "license-attr">
		{{#if requiresAttribution}}
			<div class = "requires-attr"></div>
		{{else}}
			<div class = "not-requires-attr"></div>
		{{/if}}
		
		{{#if derivationAllowed}}
			<div class = "allow-derivation"></div>
		{{else}}
			<div class = "not-allow-derivation"></div>
		{{/if}}

		{{#if redistributionAllowed}}
			<div class = "allow-redistribution"></div>
		{{else}}
			<div class = "not-allow-redistribution"></div>
		{{/if}}
	</div>

</td>
<td>
<!-- either single upload icon or two or three icons used here -->

	{{#unless operator.feed}}
		<img src="images/4_boat.png">
		{{else}}
		<img src="images/5_bus.png">
		<img src="images/6_park.png"><a {{bind-attr href='operator.feed.url'}}></a>
		<img src="images/7_gas_station.png">
	{{/unless}}

</td>