<td>
	{{#link-to "operator" operator}}
		{{operator.name}}
	{{/link-to}}
</td>
<td>{{operator.metro}}</td>
<td>{{operator.state}}</td>
<td>{{operator.country}}</td>

<!-- {{#if licenseHasName}}
	<td><a href = "{{operator.feeds.firstObject.license_url}}" target = "_blank">{{operator.feeds.firstObject.license_name}}</a></td>
{{else}}
	<td><a href = "{{operator.feeds.firstObject.license_url}}" target = "_blank"><i class="fa fa-external-link"></i></a></td>
{{/if}}	 -->

{{#if operator.feeds}}
	{{#if operator.feeds.firstObject.license_name}}
		<td><a href = "{{operator.feeds.firstObject.license_url}}" target = "_blank">{{operator.feeds.firstObject.license_name}}</a></td>
	{{else}}
		<td><a href = "{{operator.feeds.firstObject.license_url}}" target = "_blank"><i class="fa fa-external-link"></i></a></td>
	{{/if}}	

	<td>
		<div class = "license-attr">
			{{#if attributionUnknown}}
				<div class = "unknown-requires-attr"></div>			
			{{else if requiresAttribution}}
				<div class = "requires-attr"></div>
			{{else if doesNotRequireAttribution}}
				<div class = "not-requires-attr"></div>
			{{/if}}

			{{#if derivationUnknown}}
				<div class = "unknown-allow-derivation"></div>
			{{else if derivationAllowed}}
				<div class = "allow-derivation"></div>
			{{else if derivationNotAllowed}}
				<div class = "not-allow-derivation"></div>
			{{/if}}

			{{#if redistributionUnknown}}
				<div class = "unknown-allow-redistribution"></div>
			{{else if redistributionAllowed}}
				<div class = "allow-redistribution"></div>
			{{else if redistributionNotAllowed}}
				<div class = "not-allow-redistribution"></div>
			{{/if}}
		</div>
	</td>
{{else}}
	<td colspan=2><i>No feed registered (yet!)</i></td>
{{/if}}
<!-- <td class = "link"> -->
<!-- either single upload icon or two or three icons used here -->

	<!-- {{#unless operator.feed}}
		<a class = "upload-btn"> upload </a>
		{{else}}
		
		<a class = "link-btn" {{bind-attr href='operator.feed.url'}}> api </a>
		
	{{/unless}}

</td> -->