<td>
	{{#link-to "operators.show" operator}}
		{{operator.name}}
		{{#if operator.short_name}}
	<br>({{operator.short_name}})
	{{/if}}
	{{/link-to}}
</td>
<td>{{operator.metro}}</td>
<td>{{operator.state}}</td>
<td>{{operator.country}}</td>

{{#if operator.feeds}}
	<td>
		{{#if operator.feeds.firstObject.license_url}}
			<a href = "{{operator.feeds.firstObject.license_url}}" target = "_blank">
				{{#if operator.feeds.firstObject.license_name}}
					{{operator.feeds.firstObject.license_name}}
				{{else}}
					{{fa-icon icon="fa-external-link"}}
				{{/if}}
			</a>
		{{/if}}
	</td>
	<td>
		<div class = "license-attr">
			{{#if attributionUnknown}}
				<div class = "unknown-requires-attr"></div>
			{{else if requiresAttribution}}
				<div class = "requires-attr"></div>
			{{else if doesNotRequireAttribution}}
				<div class = "not-requires-attr"></div>
			{{/if}}

			{{#if derivationUnknown}}
				<div class = "unknown-allow-derivation"></div>
			{{else if derivationAllowed}}
				<div class = "allow-derivation"></div>
			{{else if derivationNotAllowed}}
				<div class = "not-allow-derivation"></div>
			{{/if}}

			{{#if redistributionUnknown}}
				<div class = "unknown-allow-redistribution"></div>
			{{else if redistributionAllowed}}
				<div class = "allow-redistribution"></div>
			{{else if redistributionNotAllowed}}
				<div class = "not-allow-redistribution"></div>
			{{/if}}
		</div>
	</td>
{{else}}
	<td colspan=2><i>No feed registered (yet!)</i></td>
{{/if}}
