<div class="page-container operator-page" align="center">
{{#link-to "feeds"}}
	<button class="back-btn" type="button">Return to All Feeds</button>
{{/link-to}}
</div>
<div class="page-container operator-page" align="left">
	<h3>{{model.name}}</h3>
	<h4> Operator Detail </h4>
		<table>
			<tr><td>identifiers</td><td>{{model.identifiers}}</td></tr>
			<tr><td>name</td><td>{{model.name}}</td></tr>
			<tr><td>short_name</td><td>{{model.short_name}}</td></tr>
			<tr><td>onestop_id</td><td>{{model.onestop_id}}</td></tr>
			<tr><td>country</td><td>{{model.country}}</td></tr>
			<tr><td>state</td><td>{{model.state}}</td></tr>
			<tr><td>municipality</td><td>{{model.minicipality}}</td></tr>
			<tr><td>type</td><td>{{model.type}}</td></tr>
			<tr><td>website</td><td>{{model.website}}</td></tr>
			<tr><td>timezone</td><td>{{model.timezone}}</td></tr>
			<tr><td>created_at</td><td>{{model.created_at}}</td></tr>
			<tr><td>updated_at</td><td>{{model.updated_at}} (3 days ago)</td></tr>
		</table>
	
	<h4>Feed detail</h4>
	{{#if model.feed }}

		<table>
			<tr><td>operator</td><td>{{model.feed.operator}}</td></tr>
			<tr><td>onestop_id</td><td>{{model.feed.onestop_id}}</td></tr>
			<tr><td>url</td><td>{{model.feed.url}}</td></tr>
			<tr><td>feed_format</td><td>{{model.feed.feed_format}}</td></tr>
			<tr><td>license_name</td><td>{{model.feed.license_name}}</td></tr>
			<tr><td>license_url</td><td>{{model.feed.license_url}}</td></tr>
			<tr><td>license_attribution</td><td>{{model.feed.license_attribution}}</td></tr>
			<tr><td>license_derivation</td><td>{{model.feed.license_derivation}}</td></tr>
			<tr><td>license_redistribution</td><td>{{model.feed.license_redistribution}}</td></tr>
			<tr><td>last_sha1</td><td>{{model.feed.last_sha1}}</td></tr>
			<tr><td>last_fetched_at</td><td>{{model.feed.last_fetched_at}}</td></tr>
			<tr><td>last_imported_at</td><td>{{model.feed.last_imported_at}}</td></tr>
			<tr><td>created_at</td><td>{{model.feed.created_at}}</td></tr>
			<tr><td>updated_at</td><td>{{model.feed.updated_at}}</td></tr>
		</table>
	{{else}}
	  <h4>HEY YOU SHOULD WRITE GOOD SENTENCE TO CONVINCE PEOPLE TO UPLOAD </h4>
	<button> hello </button>
	{{/if}}
</div>
