<div class="page-container operator-page" align="center">
{{#link-to "feeds"}}
	<button class="back-btn" type="button">Return to All Feeds</button>
{{/link-to}}
</div>
<div class="page-container operator-page">
	<h3 class = "agency-name">{{model.name}}</h3>
	<div class = "row">
		<h3 class = "detail col-md-3"> Operator Detail </h3>
		<div class = "col-md-9">
			<table>
				<tr><td>Identifiers</td><td>{{model.identifiers}}</td></tr>
				<tr><td>Name</td><td>{{model.name}}</td></tr>
				<tr><td>Short name</td><td>{{model.short_name}}</td></tr>
				<tr><td>Onestop id</td><td>{{model.onestop_id}}</td></tr>
				<tr><td>Country</td><td>{{model.country}}</td></tr>
				<tr><td>State</td><td>{{model.state}}</td></tr>
				<tr><td>Municipality</td><td>{{model.minicipality}}</td></tr>
				<tr><td>Type</td><td>{{model.type}}</td></tr>
				<tr><td>Website</td><td>{{model.website}}</td></tr>
				<tr><td>Timezone</td><td>{{model.timezone}}</td></tr>
				<tr><td>Created at</td><td>{{model.created_at}}</td></tr>
				<tr><td>Updated at</td><td>{{model.updated_at}}</td></tr>
			</table>
		</div>
	</div>
	<div class = "row">
		<h3 class = "detail col-md-3">Feed Detail</h3>
		<div class = "col-md-9">
			{{#if model.feed }}
				<table>
					<tr><td>Operator</td><td>{{model.feed.operator}}</td></tr>
					<tr><td>Onestop id</td><td>{{model.feed.onestop_id}}</td></tr>
					<tr><td>URL</td><td>{{model.feed.url}}</td></tr>
					<tr><td>Feed format</td><td>{{model.feed.feed_format}}</td></tr>
					<tr><td>License name</td><td>{{model.feed.license_name}}</td></tr>
					<tr><td>License url</td><td>{{model.feed.license_url}}</td></tr>
					<tr><td>License attribution</td><td>{{model.feed.license_attribution}}</td></tr>
					<tr><td>License derivation</td><td>{{model.feed.license_derivation}}</td></tr>
					<tr><td>License redistribution</td><td>{{model.feed.license_redistribution}}</td></tr>
					<tr><td>Last sha1</td><td>{{model.feed.last_sha1}}</td></tr>
					<tr><td>Last fetched at</td><td>{{model.feed.last_fetched_at}}</td></tr>
					<tr><td>Last imported at</td><td>{{model.feed.last_imported_at}}</td></tr>
					<tr><td>Created at</td><td>{{model.feed.created_at}}</td></tr>
					<tr><td>Updated at</td><td>{{model.feed.updated_at}}</td></tr>
				</table>
			{{else}}
			  <h4>HEY YOU SHOULD WRITE GOOD SENTENCE TO CONVINCE PEOPLE TO UPLOAD </h4>
			<button> hello </button>
			{{/if}}
		</div>
	</div>
</div>
