<div class="page-container operator-page" align="center">
{{#link-to "feeds"}}
	<button class="btn btn-default" type="button">Return to All Feeds</button>
{{/link-to}}
</div>
<div class="page-container operator-page" align="left">
	<h3>Operator detail for: {{model.name}}</h3>
	<h4>
		<ul>
			<li>Identifiers: {{model.identifiers}}</li>
			<li>Name: {{model.name}}</li>
			<li>Short name: {{model.short_name}}</li>
			<li>OnestopID: {{model.onestop_id}}</li>
			<li>Country: {{model.country}}</li>
			<li>State: {{model.state}}</li>
			<li>municipality: {{model.minicipality}}</li>
			<li>type: {{model.type}}</li>
			<li>website: {{model.website}}</li>
			<li>timezone: {{model.timezone}}</li>
			<li>Last updated: {{format-date model.updated_at}} ({{from-now-date model.updated_at}})</li>
			<li>Created: {{format-date model.created_at}}</li>

		</ul>
	</h4>
	<h3>Feed detail for: {{model.name}}</h3>
	<h4>
		<ul>
			<li>operator: {{model.feed.operator}}</li>
			<li>onestop_id: {{model.feed.onestop_id}}</li>
			<li>url: {{model.feed.url}}</li>
			<li>feed_format: {{model.feed.feed_format}}</li>
			<li>license_name: {{model.feed.license_name}}</li>
			<li>license_url: {{model.feed.license_url}}</li>
			<li>license_attribution: {{model.feed.license_attribution}}</li>
			<li>license_derivation: {{model.feed.license_derivation}}</li>
			<li>license_redistribution: {{model.feed.license_redistribution}}</li>
			<li>last_sha1: {{model.feed.last_sha1}}</li>
			<li>last_fetched_at: {{model.feed.last_fetched_at}}</li>
			<li>last_imported_at: {{model.feed.last_imported_at}}</li>
			<li>Last updated: {{format-date model.feed.updated_at}} ({{from-now-date model.feed.updated_at}})</li>
			<li>Created: {{format-date model.feed.created_at}}</li>
		</ul>
	</h4>
</div>
