<div class = "table-container">
 <!--  <div class="radio">
    <label><input type="radio" name="optradio" {{action "filterByImportLevel" "all"}}>All import levels</label>
  </div>
  <div class="radio">
    <label><input type="radio" name="optradio" {{action "filterByImportLevel" "0"}}>Import level: 0 (feed & operator)</label>
  </div>
  <div class="radio">
    <label><input type="radio" name="optradio" {{action "filterByImportLevel" "2"}}>Import level: 2 (stops, routes & schedules)</label>
  </div>
  <div class="radio">
    <label><input type="radio" name="optradio" {{action "filterByImportLevel" "4"}}>Import level: 4 (routable on Turn-by-Turn)</label>
  </div> -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th class = "{{nameSortClass}}" {{action "changeSort" "name"}}>Operator Name</th>
        <th class = "{{regionSortClass}}" {{action "changeSort" "metro"}}>Region</th>
        <th class = "{{stateSortClass}}" {{action "changeSort" "state"}}>State or Province</th>
        <th class = "{{countrySortClass}}" {{action "changeSort" "country"}}>Country</th>
        <th class = "license">License</th>
        <th>License Details <a href = "https://transit.land/an-open-project/#aggregated-data" target = "_blank">{{fa-icon icon="question-circle"}}</a></th>
      </tr>
    </thead>
    <tbody>
      {{#each operator in operators}}
    	  {{operator-table/operator-row operator=operator}}
    	{{/each}}
    </tbody>
  </table>
</div>