


<!-- <div class="containter" align="center">
    	<h3>Agencies: {{model.length}} Countries: {{operatorCountries.length}} Unique Countries: {{uniqueOperatorCountries.length}}</h3>
 </div> -->

 {{country-count operators=model}}

<div class="container" align="right">
	<button>License</button>
	<button>License Details</button>
	
</div>





<main>
	{{feed-table operators=model}}
</main>