


<!-- <div class="containter" align="center">
    	<h3>Agencies: {{model.length}} Countries: {{operatorCountries.length}} Unique Countries: {{uniqueOperatorCountries.length}}</h3>
 </div> -->

 {{country-count operators=model}}

<div class="container" align="right">
	<div class="col-lg-3">
	    <div class="input-group">
	     	<input type="text" class="form-control" placeholder="Search">
	     	<span class="input-group-btn">
	        	<button class="btn btn-default" type="button">Go!</button>
	    	</span>
		</div><!-- /input-group -->	
	</div><!-- /.col-lg-6 -->
	<button>License</button>
	<button>License Details</button>
	
</div>





<main>
	{{feed-table operators=model}}
</main>