<div class="fullvw-wrapper">
	{{add-feed-tabs header-text="ADD A TRANSIT FEED" upload-tab-class="tab" add-operator-tab-class="tab" license-tab-class="tab" submit-tab-class="tab current" submitted=false}}
</div>

<div class="container">
	<div class="add-operator-info">
		<p>
			<h4>Tell us a little bit about yourself</h4>
		</p>
		<p>
			All fields are optional, but be sure to include your email address if you'd like us to contact you when your feed has been added to the Feed Registry.
		</p>
		{{#if feedExists}}
			<p>feeds/new/submit/template feedExists</p>
		{{else}}
			<p>no feeds/new/submit/template feedExists</p>
		{{/if}}
	</div>

	<div class="input-form-wrapper">
		<div class="row">
			<div class="col-sm-6">
				<div class="input-form-label">Name</div>
				<div class="input-form-field">{{input type="text" value=model.user.name placeholder="e.g., Therese McMillan" autofocus=true}}</div>
			</div>
			<div class="col-sm-6">
				<div class="input-form-label">Email address</div>
				<div class="input-form-field">{{input type="text" value=model.user.email placeholder="e.g., transitland@mapzen.com"}}</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="input-form-label">Which best describes you?</div>
				<div class="input-form-field">
					{{#power-select options=userTypes searchField="display" selected=model.user.user_type onchange=(action (mut model.user.user_type)) onfocus=(action "handleFocus") as |userType|}}
						{{underscored-string-to-title-case userType}}
					{{/power-select}}
				</div>
			</div>
			<div class="col-sm-6">
				<div class="input-form-label">Affiliation, if any</div>
				<div class="input-form-field">{{input type="text" value=model.user.affiliation placeholder="e.g., Federal Transit Administration"}}</div>
			</div>
		</div>
	</div>
	<div class="row direction-btn-wrapper">
		<div class="col-sm-12">
			{{#link-to "feeds.new.license" class="btn btn-action pull-left" role="button" }}
				<i class="fa fa-chevron-left"></i> back
			{{/link-to}}
					<div class="term-agreement pull-right">
						{{#if agreeToTerms}}
							<div class="instruction">
								<input type="checkbox" {{action 'agree'}} checked value="">
								By submitting feed, I agree to Transitland's <a href="https://transit.land/an-open-project/contributor-agreement.html" target="_blank"> contributor agreement. <i class="fa fa-external-link"></i></a>
							</div>
						{{else}}
							<div class="instruction">
								<input type="checkbox" {{action 'agree'}} value="">
								By submitting feed, I agree to Transitland's <a href="https://transit.land/an-open-project/contributor-agreement.html" target="_blank"> contributor agreement. <i class="fa fa-external-link"></i></a>
							</div>
						{{/if}}
						{{#if agreeToTerms}}
							<input type="button" {{action 'submit'}} class="btn btn-action pull-right" value="SUBMIT FEED">
						{{else}}
							<input type="button" {{action 'submit'}} class="btn btn-action pull-right" disabled value="SUBMIT FEED">
						{{/if}}
					</div>
		</div>
	</div>
</div>
