<div class="fullvw-wrapper">
	{{add-feed-tabs header-text="ADD A TRANSIT FEED" upload-tab-class="tab" add-operator-tab-class="tab" license-tab-class="tab" submit-tab-class="tab-current" submitted=false}}
</div>
<div class="add-operator-info">
	<p>
		Provide your contact informtion if you want to be notfied when your feed has been added to the Feed Registry.
	</p>
</div>


<div class="container">
	<div class="input-form-wrapper">
		<div class="row">
			<div class="col-sm-12">
				<div class="input-form-label">Email address (optional)</div>
				<div class="input-form-field">{{input type="text" value=email placeholder="someone@example.com"}}</div>
			</div>
		</div>
	</div>
	<div class="row direction-btn-wrapper">
		<div class="col-sm-12">
			{{#link-to "feeds.new.license" class="btn btn-default pull-left" role="button"}}
				&#60; Return to license info
			{{/link-to}}
			<div class="btn-group" data-toggle="buttons">
				<div class="checkbox">
					{{#if agreeToTerms}} 
						<label>
							<input type="checkbox" {{action 'agree'}} checked value="" class="pull-right">
							I agree to the terms of service.
						</label>
					{{else}}
						<label>
							<input type="checkbox" {{action 'agree'}} value="" class="pull-right">
							I agree to the terms of service.
						</label>
					{{/if}}
				</div>
			</div>
			{{#if agreeToTerms}}
				<input type="button" {{action 'submit'}} class="btn btn-default pull-right" value="SUBMIT FEED">
			{{else}}
				<input type="button" {{action 'submit'}} class="btn btn-default pull-right disabled" value="SUBMIT FEED">
			{{/if}}
		</div>
	</div>
</div>

