<div class="fullvw-wrapper">
	{{add-feed-tabs header-text="ADD A TRANSIT FEED" upload-tab-class="tab" add-operator-tab-class="tab" license-tab-class="tab" submit-tab-class="tab-current" submitted=false}}
</div>
<div class="add-operator-info">
	<p>
		Provide your contact informtion if you want to be notfied when your feed has been added to the Feed Registry.
	</p>
</div>


<div class="container">
	<div class="input-form-wrapper">
		<div class="row">
			<div class="col-sm-6">
				<div class="input-form-label">Name (optional)</div>
				<div class="input-form-field">{{input type="text" value=model.user.name placeholder="e.g., Therese McMillan"}}</div>
			</div>
			<div class="col-sm-6">
				<div class="input-form-label">Email address (optional)</div>
				<div class="input-form-field">{{input type="text" value=model.user.email placeholder="e.g., transitfan@gmail.com"}}</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="input-form-label">User type, which best describes you (optional)</div>
				<div class="input-form-field">
					{{#power-select options=userTypes searchField="display" selected=model.user.user_type onchange=(action (mut model.user.user_type)) onfocus=(action "handleFocus") as |userType|}}
						{{underscored-string-to-title-case userType}}
					{{/power-select}}
				</div>
			</div>
			<div class="col-sm-6">
				<div class="input-form-label">Affiliation, if any (optional)</div>
				<div class="input-form-field">{{input type="text" value=model.user.affiliation placeholder="e.g., Federal Transit Administration"}}</div>
			</div>
		</div>
	</div>
	<div class="row direction-btn-wrapper">
		<div class="col-sm-12 text-center">
					<div class="checkbox">
						{{#if agreeToTerms}}
							<label>
								<input type="checkbox" {{action 'agree'}} checked value="" class="pull-right">
								By submitting feed, I agree to Transitland's <a href="https://transit.land/an-open-project/developer-agreement.html"> terms of service. <i class="fa fa-external-link"></i></a>
							</label>
						{{else}}
							<label>
								<input type="checkbox" {{action 'agree'}} value="" class="pull-right">
								By submitting feed, I agree to Transitland's <a href="https://transit.land/an-open-project/developer-agreement.html"> terms of service. <i class="fa fa-external-link"></i></a>
							</label>
						{{/if}}
					</div>
			{{#if agreeToTerms}}
				<input type="button" {{action 'submit'}} class="btn btn-submit" value="SUBMIT FEED">
			{{else}}
				<input type="button" {{action 'submit'}} class="btn btn-submit" disabled value="SUBMIT FEED">
			{{/if}}
			{{!--commenting out go back to license --}}
			{{!--{{#link-to "feeds.new.license" class="" role="button" }}
				<i class="fa fa-chevron-left"></i> Return to license info
			{{/link-to}}--}}
		</div>
	</div>
</div>