<section id="feed-registry" class="jumbotron">
  <div class="container">
    <div class="page-container operator-page">
      {{#link-to "index"}} {{fa-icon icon="fa-caret-left"}} All Operators {{/link-to}}
      <h3 class="agency-name">{{model.name}} {{#if model.short_name}} ({{model.short_name}}) {{/if}}
      </h3>
      <table class="operator-table">
        <tr>
          <td> Onestop ID <a href="https://transit.land/documentation/onestop-id-scheme/" target="_blank"><i class="question-circle onestop-id-tooltip"></i></a></td>
          <td>{{model.onestop_id}}</td>
        </tr>
        {{#if model.metro}}
          <tr>
            <td>Metro region</td>
            <td>{{model.metro}} {{#link-to 'index' (query-params metro=model.metro import_level="null" country="null" state="null" name="null" short_name="null" offset=0)}}{{fa-icon icon="search-plus" title="Search for all operators in this metro region"}}{{/link-to}}</td>
          </tr>
        {{/if}}
        {{#if model.state}}
          <tr>
            <td>State/Province</td>
            <td>{{model.stateDisplayName}} ({{model.state}}) {{#link-to 'index' (query-params state=model.state import_level="null" country="null" metro="null" name="null" short_name="null" offset=0)}}{{fa-icon icon="search-plus" title="Search for all operators in this state"}}{{/link-to}}</td>
          </tr>
        {{/if}}
        <tr>
          <td>Country</td>
          <td>{{model.countryDisplayName}} ({{model.country}}) {{#link-to 'index' (query-params country=model.country import_level="null" state="null" metro="null" name="null" short_name="null" offset=0)}}{{fa-icon icon="search-plus" title="Search for all operators in this country"}}{{/link-to}}</td>
        </tr>
        <tr>
          <td>Website</td>
          <td> <a href="{{model.website}}" target="_blank">{{model.website}}</a></td>
        </tr>
        <tr>
          <td>Timezone</td>
          <td>{{model.timezone}}</td>
        </tr>
        <tr>
          <td>Tags</td>
          <td>
            {{#if model.tags}}
            <ul>
              {{! TODO: replace with each-in after upgrading to Ember 2}} {{#each model.tagsAsArray as |tag|}}
              <li>{{tag.key}}: {{linkify tag.value}}</li>
              {{/each}}
            </ul>
            {{/if}}
          </td>
        </tr>
        <tr>
          <td>Data available in Transitland Datastore</td>
          <td>
              <ul>
                <li>
                  operator service area
                  {{#if operatorFirstFeed.isAtLeastImportLevelZero}}
                    {{fa-icon "check-square-o"}}
                  {{else}}
                    {{fa-icon "square-o"}}
                  {{/if}}
                </li>
                <li>
                  stops
                  {{#if operatorFirstFeed.isAtLeastImportLevelOne}}
                    {{fa-icon "check-square-o"}}
                  {{else}}
                    {{fa-icon "square-o"}}
                  {{/if}}
                </li>
                <li>
                  routes
                  {{#if operatorFirstFeed.isAtLeastImportLevelOne}}
                    {{fa-icon "check-square-o"}}
                  {{else}}
                    {{fa-icon "square-o"}}
                  {{/if}}
                </li>
                <li>
                  schedule
                  {{#if operatorFirstFeed.isAtLeastImportLevelTwo}}
                    {{fa-icon "check-square-o"}}
                  {{else}}
                    {{fa-icon "square-o"}}
                  {{/if}}
                </li>
              </ul>
          </td>
        </tr>
        <!-- If a feed has been imported at import_level >= 1 then also link to GeoJSON for routes and stops. -->
        {{#if operatorFirstFeed.isAtLeastImportLevelZero}}
        <tr>
          <td>Operator service area</td>
          <td>
            <ul>
              <li>{{mobility-explorer-link query="operator" operator=model text="View as an interactive map in Mapzen Mobility Explorer"}}</li>
              <li>{{json-endpoint model.onestop_id "" "JSON from Transitland Datastore API"}}</li>
              <li>{{geojson-endpoint model.onestop_id}}</li>
              <li>{{geojson-io model.onestop_id}}</li>
            </ul>
          </td>
        </tr>
        {{/if}} {{#if operatorFirstFeed.isAtLeastImportLevelOne}}
        <tr>
          <td>Routes</td>
          <td>
            <ul>
              <li>{{mobility-explorer-link query="routesByOperator" operator=model text="View as an interactive map in Mapzen Mobility Explorer"}}</li>
              <li>{{json-endpoint model.onestop_id "routes" "JSON from Transitland Datastore API"}}</li>
              <li>{{geojson-endpoint model.onestop_id "routes"}}</li>
              <li>{{geojson-io model.onestop_id "routes"}}</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>Stops</td>
          <td>
            <ul>
              <li>{{mobility-explorer-link query="stopsByOperator" operator=model text="View as an interactive map in Mapzen Mobility Explorer"}}</li>
              <li>{{json-endpoint model.onestop_id "stops" "JSON from Transitland Datastore API"}}</li>
              <li>{{geojson-endpoint model.onestop_id "stops"}}</li>
              <li>{{geojson-io model.onestop_id "stops"}}</li>
            </ul>
          </td>
        </tr>
        {{/if}}
        <!-- If a feed has been imported at import_level >= 2 then also link to a ScheduleStopPair query. -->
        {{#if operatorFirstFeed.isAtLeastImportLevelTwo}}
        <tr>
          <td>Schedules<a href="https://transit.land/documentation/datastore/schedules.html" target="_blank"><i class="question-circle ssp-tooltip"></i></a></td>
          <td>{{ssp-endpoint operatorFirstFeed.onestop_id}}</td>
        </tr>
        {{/if}}
      </table>


      {{#each feed in model.feeds}} {{feed-detail feed=feed}} {{/each}}

    </div>
  </div>
</section>