<section id="feed-registry" class="jumbotron">
  <div class="container">
    <div class="page-container operator-page">
      {{#link-to "index"}} {{fa-icon icon="fa-caret-left"}} All Operators {{/link-to}}
      <h3 class="agency-name">{{model.name}} {{#if model.short_name}} ({{model.short_name}}) {{/if}}
      </h3>
      <table class="operator-table">
        <tr>
          <td> Onestop ID <a href="https://transit.land/documentation/onestop-id-scheme/" target="_blank"><i class="question-circle onestop-id-tooltip"></i></a></td>
          <td>{{model.onestop_id}}</td>
        </tr>
        {{#if model.metro}}
          <tr>
            <td>Metro region</td>
            <td>{{model.metro}} {{#link-to 'index' (query-params metro=model.metro import_level="null" country="null" state="null" name="null" short_name="null" offset=0)}}{{fa-icon icon="search-plus" title="Search for all operators in this metro region"}}{{/link-to}}</td>
          </tr>
        {{/if}}
        {{#if model.state}}
          <tr>
            <td>State/Province</td>
            <td>{{model.stateDisplayName}} ({{model.state}}) {{#link-to 'index' (query-params state=model.state import_level="null" country="null" metro="null" name="null" short_name="null" offset=0)}}{{fa-icon icon="search-plus" title="Search for all operators in this state"}}{{/link-to}}</td>
          </tr>
        {{/if}}
        <tr>
          <td>Country</td>
          <td>{{model.countryDisplayName}} ({{model.country}}) {{#link-to 'index' (query-params country=model.country import_level="null" state="null" metro="null" name="null" short_name="null" offset=0)}}{{fa-icon icon="search-plus" title="Search for all operators in this country"}}{{/link-to}}</td>
        </tr>
        <tr>
          <td>Website</td>
          <td> <a href="{{model.website}}" target="_blank">{{model.website}}</a></td>
        </tr>
        <tr>
          <td>Timezone</td>
          <td>{{model.timezone}}</td>
        </tr>
        <tr>
          <td>Tags</td>
          <td>
            {{#if model.tags}}
            <ul class="list-unstyled">
              {{! TODO: replace with each-in after upgrading to Ember 2}} {{#each model.tagsAsArray as |tag|}}
              <li>{{tag.key}}: {{linkify tag.value}}</li>
              {{/each}}
            </ul>
            {{/if}}
          </td>
        </tr>
        <tr>
          <td>Data Available</td>
          <td>
            {{#if operatorFirstFeed.isAtLeastImportLevelZero}}Operator polygons{{/if}}{{#if operatorFirstFeed.isAtLeastImportLevelOne}},
            stops, routes{{/if}}{{#if operatorFirstFeed.isAtLeastImportLevelTwo}}, schedule{{/if}} {{#if operatorFirstFeed.isAtLeastImportLevelNull}}None
            at this time.{{/if}}
          </td>
        </tr>
        <!-- If a feed has been imported at import_level >= 1 then also link to GeoJSON for routes and stops. -->
        {{#if operatorFirstFeed.isAtLeastImportLevelZero}}
        <tr>
          <td>Operator service area</td>
          <td>{{json-endpoint model.onestop_id "" "JSON"}}, {{geojson-endpoint model.onestop_id}} ({{geojson-io model.onestop_id}})</td>
        </tr>
        {{/if}} {{#if operatorFirstFeed.isAtLeastImportLevelOne}}
        <tr>
          <td>Routes</td>
          <td>{{json-endpoint model.onestop_id "routes" "JSON"}}, {{geojson-endpoint model.onestop_id "routes"}} ({{geojson-io
            model.onestop_id "routes"}})</td>
        </tr>
        <tr>
          <td>Stops</td>
          <td>{{json-endpoint model.onestop_id "stops" "JSON"}}, {{geojson-endpoint model.onestop_id "stops"}} ({{geojson-io
            model.onestop_id "stops"}})</td>
        </tr>
        {{/if}}
        <!-- If a feed has been imported at import_level >= 2 then also link to a ScheduleStopPair query. -->
        {{#if operatorFirstFeed.isAtLeastImportLevelTwo}}
        <tr>
          <td>Schedules<a href="https://transit.land/documentation/datastore/schedules.html" target="_blank"><i class="question-circle ssp-tooltip"></i></a></td>
          <td>{{ssp-endpoint operatorFirstFeed.onestop_id}}</td>
        </tr>
        {{/if}} {{#if operatorFirstFeed.isAtLeastImportLevelFour}}
        <tr>
          <td>Route using Mapzen Turn-by-Turn<a href="https://mapzen.com/documentation/turn-by-turn/" target="_blank"><i class="question-circle tbt-tooltip"></i></a></td>
          <td>
            <a href="{{linkToTurnByTurnDemo}}">Try routing using demo interface</a>
          </td>
        </tr>
        {{/if}}
      </table>


      {{#each feed in model.feeds}} {{feed-detail feed=feed}} {{/each}}

    </div>
  </div>
</section>