<section id="feed-registry" class="jumbotron">
	<div class="container">
		<div class="page-container operator-page">
		{{#link-to "index"}}
			{{fa-icon icon="fa-caret-left"}} All Feeds
		{{/link-to}}
			<h3 class = "agency-name">{{model.name}} {{#if model.short_name}}
			({{model.short_name}})
			{{/if}}
			</h3>

			<table class = "operator-table">
				<tr><td> Onestop ID <a href = "https://transit.land/documentation/onestop-id-scheme/" target = "_blank"><i class="question-circle onestop-id-tooltip"></i></a></td><td>{{model.onestop_id}}</td></tr>
				{{#if model.metro}}
					<tr><td>Region</td><td>{{model.metro}}</td></tr>
				{{/if}}
				<tr><td>State</td><td>{{model.state}}</td></tr>
				<tr><td>Country</td><td>{{model.country}}</td></tr>
				<tr><td>Website</td><td> <a href = "{{model.website}}"  target = "_blank">{{model.website}}</a></td></tr>
				<tr><td>Timezone</td><td>{{model.timezone}}</td></tr>
				<tr><td>Identifiers</td><td>{{model.identifiers}}</td></tr>
				<tr><td>Data Available</td>
					<td>
						{{#if feedImportLevelZero}}Operator polygons{{/if}}{{#if feedImportLevelOne}}, stops, routes{{/if}}{{#if feedImportLevelTwo}}, schedule{{/if}}
						{{#if feedImportLevelNull}}None at this time.{{/if}}
					</td>
				</tr>
				<!-- If a feed has been imported at import_level >= 1 then also link to GeoJSON for routes and stops. -->
				{{#if feedImportLevelZero}}
					<tr><td>Operator service area</td><td>{{json-endpoint model.onestop_id "" "JSON"}}, {{geojson-endpoint model.onestop_id}} ({{geojson-io model.onestop_id}})</td></tr>
				{{/if}}
				{{#if feedImportLevelOne}}
					<tr><td>Routes</td><td>{{json-endpoint model.onestop_id "routes" "JSON"}}, {{geojson-endpoint model.onestop_id "routes"}} ({{geojson-io model.onestop_id "routes"}})</td></tr>

					<tr><td>Stops</td><td>{{json-endpoint model.onestop_id "stops" "JSON"}}, {{geojson-endpoint model.onestop_id "stops"}} ({{geojson-io model.onestop_id "stops"}})</td></tr>
				{{/if}}
				<!-- If a feed has been imported at import_level >= 2 then also link to a ScheduleStopPair query. -->
				{{#if feedImportLevelTwo}}
					<tr><td>Schedules<a href = "https://transit.land/documentation/datastore/schedules.html" target = "_blank"><i class="question-circle ssp-tooltip"></i></a></td><td>{{ssp-endpoint model.feeds.firstObject.onestop_id}}</td></tr>
				{{/if}}
			</table>


		{{#each feed in model.feeds}}
			{{feed-detail feed=feed}}
		{{else}}
			<h4>HEY YOU SHOULD WRITE GOOD SENTENCE TO CONVINCE PEOPLE TO UPLOAD </h4>
		{{/each}}

		</div>
		<div>
		<p>
		If you notice an error, please email us at <a href="mailto:transitland@mapzen.com">transitland@mapzen.com</a>.</p>
		</div>
	</div>
</section>
