<div class="add-feed-nav">
	<div class="add-feed-nav-title">
		<h1>{{header-text}}</h1>
	</div>

{{#unless submitted}}
	<div class="col-sm-12 col-xs-12 row">
		<!-- {{add-feed-tabs/add-feed-tab tab-text="Upload feed" tab-class="tab"}}
		{{add-feed-tabs/add-feed-tab tab-text="Add operator(s)" tab-class=""}}
		{{add-feed-tabs/add-feed-tab tab-text="License info & submit" tab-class=""}} -->
		<div class={{upload-tab-class}}>Upload feed</div>
		<div class={{add-operator-tab-class}}>Add operator(s)</div>
		<div class={{license-tab-class}}>License info & submit</div>
	</div>
{{/unless}}
</div>

<!-- <div class={{tab-class}}>{{tab-text}}</div> -->